.Rmenu hr {
    border-color: #ccc;
    margin: 0px;
}

.Rmenu {
    width: 100px;
    background-color: #fffc;
    border: 1px solid #ccc;
    position: absolute;
    padding: 0px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    /*transition: all .1s ease;*/
}

.Rmenu li {
    list-style: none;
    width: 100%;
}

.Rmenu li span {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    /*使用说明见： http://www.w3school.com.cn/tiy/t.asp?f=csse_cursor*/
    color: #555;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

.Rmenu li:first-of-type {
    border-radius: 5px 5px 0 0;
}

.Rmenu li span:hover,
.Rmenu li span:active {
    background: #eee;
    color: #0AAF88;
}