
#main_legend li{
    border:1px #fff solid ;
    border-radius: 3px;
    white-space: nowrap;
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
}


#mainGraph circle:hover{
    stroke-width: 2 !important;
    stroke: #000 !important;
}


#i_gallery circle:hover{
    stroke-width: 1 !important;
    stroke: #000 !important;
}


#mainGraph .myActiveCircle{
    fill: #222 !important;
}

#mainGraph .link line:hover{
    stroke: #000 !important;
    opacity: 1 !important;
}

#i_gallery .link line:hover{
    stroke: #000 !important;
    opacity: 1 !important;
}

#mainGraph .g-main .back,#i_gallery .g-main .back{

    fill:#bbb !important;
}
/*初始circle*/
#mainGraph  circle {
    stroke: #fff ;
    stroke-width: 1.5px;
}

#mainGraph .gnode .node .splitLine{
    stroke:#fff;
    stroke-width: 1.5px;
}

#i_gallery .gnode .node .splitLine{
    stroke:#fff;
    stroke-width: 1px;
}

/*覆盖cut(黑色)*/
#mainGraph .selected  circle{
    stroke: red !important;
}




#mainGraph text,#i_gallery text {
    cursor:default ;
}

.graph-legend{
    cursor: pointer;
}
