#mainSet{
    top:0px;
    left: 0px;
    z-index: 1001;
    width: 300px;
    padding: 20px;
    position: absolute;
    display: none;
    background-color: #fffc;
}
.mainSetItem{
    padding:5px 0px;

}
#mainSet hr {
    border-color: #ccc;
    margin: 0px;
}
#mainSet .imgItem{
    display: inline-block;
    border:#aaa 1px solid;
    border-radius:2px ;
}
#mainSet .imgItem:hover{
    border: #800 dashed 2px;
}
#bzCurve {
    display: block;
    cursor: pointer;
}

figure {
    display: block;
    position: relative;
    padding-left: 20px;
    width: 200px;
}
figcaption {
    display: block;
    position: absolute;
}

#axisAnimation {
    left: -33px;
    top: 80px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
#axisTime {
    left: 100px;
    top: 205px;
}


label {
    display: block;
    margin-bottom: 10px;
}
label .text {
    display: inline-block;
    margin: 4px;
}
#funcOption{
    margin-right: 10px;
    width: 150px;
    padding: 0px 18px;

}
#bzGraph {
    width: 250px;

}
