.splitsvg rect{
    fill:#110761d1;

}

.splitsvg .splitItem circle{
    fill: #f30606;
}
.splitsvg .splitItem text{
    fill: #f30606;
}
.splitsvg .splitItem line{
    fill: #f30606;
}

.splitsvgpre line{
    fill: #f30606;
}